$container-width: 100%;
$site-width: 960px;
$color-pallete-1: #222f3e;
$color-pallete-2: #0984e3;
$color-pallete-3: #222f3e;
$color-pallete-4: #ffffff;
$color-pallete-5: #fafafa;
$color-pallete-6: #777777;
$color-pallete-7: #dfe6e9;
$color-pallete-8: #000000;
$color-pallete-9: #576574;